{% extends "header.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Manage bookings</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Hotel -->
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                {{ hotel.name }}
                                <small>
                                    {% for star in range(hotel.stars)  %}
                                        <div class="glyphicon glyphicon-star"></div>
                                    {% endfor %}
                                </small>
                            </h3>
                            <small>
                                {{ hotel.country }}, {{ hotel.city }}, {{ hotel.address }}
                            </small>
                        </div>
                    </div>
                </div>
                    <!-- Bookings in this hotel -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Free rooms
                            </h3>
                        </div>
                    </div>
                    {% for room in rooms %}
                        <div class="well">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>{{ room.title }}</h4>
                            </div>
                            <div class="col-md-8">
                                <h5>{{ room.description }}</h5>
                            </div>
                            <div class="col-md-2" align="right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                        onClick="modalFunction(this, 'd')">
                                    <span class="glyphicon glyphicon-bookmark" data-toggle="tooltip" title="Book"
                                          data-placement="left"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                {% if room.is_airconditioniring %}
                                    <span class="glyphicon glyphicon-random" data-toggle="tooltip" title="Airconditioniting"></span>
                                {% endif %}
                                {% if room.bathroom %}
                                    <span class="glyphicon glyphicon-unchecked" data-toggle="tooltip" title="Bathroom"></span>
                                {% endif %}
                                {% if room.is_tv %}
                                    <span class="glyphicon glyphicon-sound-dolby" data-toggle="tooltip" title="TV"></span>
                                {% endif %}
                                {% if room.is_wifi %}
                                    <span class="glyphicon glyphicon-signal" data-toggle="tooltip" title="Wi-Fi"></span>
                                {% endif %}
                                {% if room.is_bathhub %}
                                    <span class="glyphicon glyphicon-cd" data-toggle="tooltip" title="Bathhub"></span>
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                Available: <span class="badge">5</span>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-bed"></span>
                                {% if room.single_bed != 0 %} 
                                    Single bed <span class="badge">{{ room.single_bed }}</span>    
                                {% endif %}
                                {% if room.double_bed != 0 %} 
                                    Double bed <span class="badge">{{ room.double_bed }}</span>    
                                {% endif %}
                                {% if room.sofa_bed != 0 %} 
                                    Sofa <span class="badge">{{ room.sofa_bed }}</span>    
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                Price:
                            <span class="label label-default">
                                <span class="glyphicon glyphicon-rub" id="p1">{{ room.cost }}</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--enofloop-->
                    <!-- /Bookings in this hotel -->
                </div>
                <!-- /Hotel -->
            </div>
        </div>    <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Customers name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="First name...">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Second name...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="tel" class="form-control" placeholder="Phone number...">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Check-in:</label>
                                <input type="text" class="form-control" id="datepickerIn" onchange="modalFunction(1)">
                            </div>
                            <div class="col-md-6">
                                <label>Check-out</label>
                                <input type="text" class="form-control" id="datepickerOut" onchange="modalFunction(1)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Quantity</label>
                                <input type="number" class="form-control" min="1" value="1" id="quant" onchange="modalFunction(1)">
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <span class="label label-success" id="cost">000</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function modalFunction(id) {
            if (document.getElementById('datepickerOut').value  &&
                    document.getElementById('datepickerIn').value ) {
                d1 = (document.getElementById('datepickerIn').value).split('-');
                d2 = (document.getElementById('datepickerOut').value).split('-');
                d1 = new Date(d1[2]+'-'+d1[1]+'-'+d1[0]);
                d2 = new Date(d2[2]+'-'+d2[1]+'-'+d2[0]);
                days = (d2 - d1)/(1000*60*60*24);
                cost = parseInt(document.getElementById('p' + id).innerHTML, 10);
                quantity = parseInt(document.getElementById('quant').value, 10);
                document.getElementById('cost').innerHTML = "Total cost: " + quantity * days * cost;
            }
            else {
                document.getElementById('cost').innerHTML = "Enter field correct";
            }
        }
    </script>
    <script>
        $("#datepickerIn").datepicker();
        $("#datepickerIn").datepicker("option", "minDate", new Date());
        $("#datepickerIn").datepicker("option", "defaultDate", new Date());
        $("#datepickerIn").datepicker("option", "dateFormat", "dd-mm-yy");
        $("#datepickerIn").datepicker("option", "constrainInput", true);
        $("#datepickerOut").datepicker();
        $("#datepickerOut").datepicker("option", "minDate", new Date());
        $("#datepickerOut").datepicker("option", "defaultDate", new Date());
        $("#datepickerOut").datepicker("option", "dateFormat", "dd-mm-yy");
        $("#datepickerOut").datepicker("option", "constrainInput", true);
    </script>
{% endblock content %}